.kw-task {
    &__empty {
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
  
    &__create-button {
      background-color: #3498db;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 20px;
      cursor: pointer;
      text-decoration: none;
      padding-top: 8px;
      margin-left: 25px;
  
      &:hover {
        background-color: #2980b9;
      }
    }
  }